<div class="container">
    <div class="row">
      <section id="request-quote">
         <div class="col-md-offset-2 col-sm-8 col-lg-offset-3 col-lg-6">
               <% unless (defined?(notice)).nil? %><h3 class="notice text-danger"><%= notice %></h3><% end %>
               <h2>Request a Quote</h2>
               <hr>
               <p>Have a hardwood flooring project that you need assistance with?  We would be glad to help, just fill out the form below and we will contact you about your project.</p>
               <%= form_for(@quote, url: quote_path, :validate => false, html: {class: "form-horizontal margin-btm-10"}) do |q| %>
                    <div class="form-group required <% if @quote.errors.any? && @quote.errors.include?(:name) %>has-error<% end %>">
                      <%= q.label :name, :class => 'col-sm-2 control-label' %>
                      <div class="col-sm-10">
                         <%= q.text_field :name, :class => 'form-control' %>
                         <% if @quote.errors.any? && @quote.errors.get(:name) != nil %>
                              <span class="text-danger">
                                  <%= @quote.errors.full_messages_for(:name)*"," %>
                              </span>
                         <% end %>
                      </div>
                    </div>
                   <div class="form-group required <% if @quote.errors.any? && @quote.errors.include?(:city) %>has-error<% end %>">
                      <%= q.label :city, :class => 'col-sm-2 control-label' %>
                      <div class="col-sm-10">
                         <%= q.text_field :city, :class => 'form-control' %>
                         <% if @quote.errors.any? && @quote.errors.get(:city) != nil %>
                              <span class="text-danger">
                                  <%= @quote.errors.full_messages_for(:city)*"," %>
                              </span>
                         <% end %>
                      </div>
                    </div>                
                  
                    <div class="form-group required <% if @quote.errors.any? && @quote.errors.include?(:email) %>has-error<% end %>">
                      <%= q.label :email, :class => 'col-sm-2 control-label' %>
                      <div class="col-sm-10">
                         <%= q.email_field :email, :class => 'form-control', :novalidate => true  %>
                         <% if @quote.errors.any? && @quote.errors.get(:email) != nil %>
                              <span class="text-danger">
                                  <%= @quote.errors.full_messages_for(:email)*"," %>
                              </span>
                         <% end %>
                      </div>
                    </div>
                  
                    <div class="form-group required <% if @quote.errors.any? && @quote.errors.include?(:phone) %>has-error<% end %>">
                      <%= q.label :phone, :class => 'col-sm-2 control-label' %>
                      <div class="col-sm-10">
                         <%= q.telephone_field :phone, :class => 'form-control phone_us' %>
                         <% if @quote.errors.any? && @quote.errors.get(:phone) != nil %>
                              <span class="text-danger">
                                  <%= @quote.errors.full_messages_for(:phone)*"," %>
                              </span>
                         <% end %>
                      </div>
                    </div>
                  
                    <div class="form-group required <% if @quote.errors.any? && @quote.errors.include?(:details) %>has-error<% end %>">
                      <%= q.label :details, :class => 'col-sm-2 control-label' %>
                      <div class="col-sm-10">
                         <%= q.text_area :details, :class => 'form-control', :rows =>5 %>
                         <% if @quote.errors.any? && @quote.errors.get(:details) != nil %>
                              <span class="text-danger">
                                  <%= @quote.errors.full_messages_for(:details)*"," %>
                              </span>
                         <% end %>
                         <p class="help-block">Tell us more about your project, e.g., square footage</p>
                      </div>
                    </div>
                    <div class="form-group <% unless (@recaptcha_error.nil?) %>has-error<% end %>">
                        <div class="col-sm-offset-2 col-sm-10">
                            <%= recaptcha_tags %>
                            <span class="text-danger">
                                  <%= @recaptcha_error %>
                              </span>
                        </div>
                    </div>
                    <%= q.submit 'Send', class: 'btn btn-submit btn-primary col-sm-offset-2' %>
              <% end %>
          </div>
        </section>
    </div>
</div>
