<!DOCTYPE html>
<html lang="en">
<head>
  <title>Vista Hardwood Floors</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header id="masthead">
      <div class="row">
          <div class="col-md-offset-2 col-md-8">
              <img id="logo" alt="Vista Hardwood Floors Logo" src="https://colestock.s3.amazonaws.com/images/vista-logo-2000x566.png" />
          </div>
      </div>
  </header>
  <nav role="navigation" class="navbar navbar-default">
     <div class="fluid-container">
        <div class="navbar-header">
           <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
           </button>
        </div>  
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
               <li class="active"><%= link_to "Home", root_path %></li>
               <li><%= link_to "Request a Quote", quote_path %></li>
            </ul>
        </div>
     </div>
  <!-- http://www.bootply.com/IsRfOyf0f9 -->
  </nav> 
  <main class="container">
     <%= yield %>
  </main>
  <footer></footer>
</body>
</html>
